* {
  box-sizing: border-box;
  font-family: inherit;
}
div {
  max-width: 100%;
  max-height: inherit;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 25px;
}

.search-container {
  display: flex;
  gap: 20px;
}

.cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  width: 500px;
  max-width: 100%;
  height: 350px;
  border-radius: 30px;
  border: 1px solid #a3a3a3;
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 5px;
}

.list {
  height: 200px;
  overflow-y: auto;
}
.list::-webkit-scrollbar {
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background-color: #fcfcfc;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #ebebeb;
}
.big-text {
  font-size: 35px;
}
.center {
  text-align: center;
  margin: auto;
}

.warning {
  color: red;
}
.success {
  color: green;
}
.url {
  direction: ltr;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.buttons-list {
  direction: ltr;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.active-button {
  background-color: #1976d2;
  color: white;
}

button {
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  display: inline-block;
  margin: 0;
  padding: 5px 5px;
  text-align: center;
}
button:disabled {
  color: rgb(214, 214, 214);
}
