* {
  box-sizing: border-box;
  font-family: inherit;
}
div {
  max-width: 100%;
  max-height: inherit;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 25px;
}

.search-container {
  display: flex;
  gap: 20px;
}

.cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  width: 500px;
  max-width: 100%;
  height: 350px;
  border-radius: 30px;
  border: 1px solid #a3a3a3;
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 5px;
}

.list {
  height: 200px;
  overflow-y: auto;
}
.big-text {
  font-size: 35px;
}
.center {
  text-align: center;
  margin: auto;
}

.warning {
  color: red;
}
.success {
  color: green;
}
